/* Body Styles */

body {
  font-family: 'Franklin Gothic Medium';
  background-color: #f8dffa;
}

/* Navbar Styles */

.navbar-brand img {
  max-height: 55px;
  width: 70px;
}

/* Main Content Styles */

main {
  min-height: calc(100vh - 56px - 56px);
}

/* Navigation Styles */

nav {
  background-color: #f8dffa;
}

.nav-link {
  color: #6f046c;
  font-size: 16px;
}

.nav-link:hover {
  background-color: #de8ff2;
  border-radius: 5px;
}


/* Footer Styles */

footer {
  background-color: #f8abff;
  margin-top: 5%;
  padding-top: 2%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 2%;
  text-align: center;
}

.footercol {
  margin-bottom: 1%;
}

.footercol h5 {
  font-size: calc(1vw + 1vh);
  margin-bottom: 1.5%;
}

.footercol li {
  font-size: calc(0.7vw + 0.7vh);
  margin: 1%;
}

footer a {
  color: black;
  text-decoration: none;
}

/* Container Styles */

.container {
  position: relative;
}

/* Button Styles */

#addButton {
  position: fixed;
  bottom: 80px;
  right: 50px;
  font-size: 50px;
  border: none;
  background-color: #6f046c;
  opacity: 70%;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn {
  background-color: #6f046c;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #4a0248;
  border-radius: 5px;
}

.close-btn {
  background-color: #fff;
  color: black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.close-btn:hover {
  background-color: lightgray;
  border-radius: 5px;
}

.btn {
  color: white;
  background-color: #6f046c;
}

.petworld, .back {
  background-color: #6f046c;
  border-radius: 5px;
  color: white;
}

.preview {
  background-color: #de8ff2;
  border-radius: 5px;
  color: #4a0248;
}

/* Index Page Styles */

.index {
  background-color: #f8abff;
  color: #4a0248;
  border-radius: 10px;
}

/* Joingame Styles */

.joingame {
  padding: 50px;
  background-color: #f8abff;
  border-radius: 10px;
}

/* Task Styles */

.task {
  padding: 10px;
  color: #6f046c;
  background-color: white;
  border-radius: 10px;
}

#taskListContainer {
  background-color: #6e3672;
  border-radius: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
}

/* Login Styles */

.login {
  padding: 50px;
  background-color: #f8abff;
  border-radius: 10px;
}

#loginForm .btn:hover {
  background-color: #370035;
  color: white;
  border-radius: 5px;
}

/* Pets Styles */

.pets {
  background-color: #de8ff2;
  color: #4a0248;
  border-radius: 10px;
}

/* Popup Styles */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
  height: 240px;
  overflow-y: auto;
  resize: none;
}

.popup-header,
.popup-footer {
  text-align: right;
}

.popup-footer {
  justify-content: space-between;
  margin-top: 20px;
}

/* Overlay Styles */

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.overlay.hidden {
  display: none;
}

.popup.hidden {
  display: none;
}

/* Modal Overlay Styles */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}